<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Políticas Públicas</title>
    <%- include("partials/head")%>
    <link href= "/assets/css/background.css" rel="stylesheet">
</head>
<body>
    <div class="container p-4 mt-5 animated bounceInLeft">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <form action="/upload" method="POST" enctype="multipart/form-data">

                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="file" name="image" class="custom-file-input" id="inputGroupFile02" autofocus required>
                                    <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Selecciona imagen</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="title" placeholder="Título" class="form-control" required>
                            </div>
    

                              <div class="form-group">
                                  <input type="text" name="description" class="form-control" placeholder="Descripción" required>
                              </div>

                              <div class="form-group">
                                <select name="axis" class="custom-select" id="axis" required>
                                  <option selected>Eje...</option>
                                  <option>Desarrollo Social</option>
                                  <option>Salud</option>
                                  <option>Educación</option>
                                  <option>Cultura</option>
                                  <option>Gobierno</option>
                                  <option>Economía e Infraestructura</option>
                                  <option>Corrupción</option>
                                  <option>Austeridad</option>
                                  <option>Seguridad</option>
                                  <option>Energía</option>
                                  <option>Medio Ambiente</option>
                                  <option>Telecomunicaciones</option>
                                  <option>Derechos y Programas Sociales</option>
                                  <option>Relaciones Exteriores</option>
                                </select>    
                            </div>

                            <div class="form-group">
                                    <select name="status" class="custom-select" id="status" required>
                                      <option selected>Status...</option>
                                      <option>Sin iniciar</option>
                                      <option>Rota</option>
                                      <option>En proceso</option>
                                      <option>Cumplida</option>
                                    </select>    
                            </div>

                            <div class="form-group">
                                <input type="date" name="presented" class="form-control" placeholder="Fecha presentación" required>
                            </div>

                            <div class="form-group">
                                <input type="text" name="tweets" class="form-control" placeholder="Tendencias generadas" onkeyup="format(this)" onchange="format(this)" required>
                            </div>

                            <div class="form-group">
                                <input type="text" name="radio" class="form-control" placeholder="Radio y TV" onkeyup="format(this)" onchange="format(this)" required>
                            </div>

                            <div class="form-group">
                                <input type="text" name="tv" class="form-control" placeholder="Prensa y portales" onkeyup="format(this)" onchange="format(this)" required>
                            </div>

                            <div class="form-group">
                                <textarea type="text" rows="4" cols="50" name="comments" class="form-control" placeholder="Avances" required></textarea>
                            </div>

                              <div class="form-group">
                                  <button type="submit" class="btn btn-success btn-block">
                                    Agregar
                                  </button>
                              </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="/assets/js/format.js"></script>

</body>
</html>
